{% extends '_layouts/base.html' %}

{% load taggit_templatetags2_tags %}

{% block title %}Titulo do Blog | Detalhes{% endblock %}

{% block conteudo %}

    <img src="{{Post.thumb.url}}" alt="{{ Post.thumb_descricao }}"><br>
    <h1>{{ Post.titulo }}</h1>
    <h2>{{ Post.sub_titulo }}</h2>
    Por: {{ Post.autor }}</br>
    Postado em: {{ Post.data_postagem }}</br>
    {% if Post.data_atualizacao != NULL %}
    Atualizado em: {{ Post.data_atualizacao }}</br>
    {% endif %}
    <p>{{ Post.descricao }}</p>
    {% get_tags_for_object Post as "tags" %}
    {% for tag in tags %}
    {{ tag }}
    {% endfor %}
    <br><br>
    {% if user.is_authenticated and user.id == Post.autor.id %}
    <a href="{% url 'posts:edita' Post.slug %}">Editar</a> <a href="{% url 'posts:exclui' Post.slug %}">Excluir</a></br>
    {% endif %}

{% endblock %}